*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(216, 245, 190);
}
header {
    margin: 10px 25vw;
    padding: 5px;
    background-color: rgb(216, 252, 14);
    text-align: center;
}
.input-food{
    background-color:white;
    margin: 10px 25vw;
    text-align: center;
}
input{
    margin:10px;
    width: 50%;
    padding: 5px;
    font-size: 12px;
}
button{
    height: 25px;
    width: 70px;
    padding: 5px;
    background-color: greenyellow;
    outline: none;
    border: 2px solid green;
    border-radius: 5px;
}
.food-list{
    width: 100%;
    background-color: white;
    margin: 10px 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    margin: 10px 25vw;
    background: #fff;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section h6{
    text-align: center;
    margin-top: 15px;
    color: gray;
}
#no-list img{
    width: 240px;
    height: 240px;
}
section ul{
    list-style: none;
    width: 100%;
}
section ul li{
    /* width: 100%; */
    text-align: center;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    transition: all 0.5s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.libtn{
    height: 25px;
    width: 40px;
    padding: 5px;
    background-color:transparent;
    outline: none;
    border: none;
    border-radius: 5px;
}
section ul li:hover{
    background-color: rgb(166, 236, 171);
}
.alart{
    text-align: center;
    margin-top: 5px;
}
main h4{
    display: flex;
    align-items: center;
    justify-content: center;
}
main form{
    margin: 10px 25vw;
}